# 忽略build目录下类型为js的文件的语法检查
build/*.js

# 忽略src/assets目录下文件的语法检查
src/assets

# 忽略public目录下文件的语法检查
public

# IDEA
/.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# iconfont
/src/style/font

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
